kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prometheus-server
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 5Gi


